@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&display=swap');
:root{
--picton-blue: #00a6fbff;
--steel-blue: #0582caff;
--lapis-lazuli: #006494ff;
--prussian-blue: #003554ff
}
